/* You can add global styles to this file, and also import other style files */

.bajo-el-nav {
    margin-top: 210px;
}

.mb-2 {
    margin-bottom: 2em;
}

.steps li {
    list-style: none;
}

.border-1 {
    border: 1px solid #eaeaea;
}